@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@keyframes marquee-horizontal {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.horizontal-marquee {
  display: flex;
  animation: marquee-horizontal 15s linear infinite;
}


